
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/3daf1b14-65dd-4197-a45d-7738dd476571.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/8168a070-311a-46c5-80da-dffc34009b23.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/c1f80fe0-8dfc-4166-8f60-15d0ea0c6822.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/f010facb-f345-40a4-9298-89e6a8dbe5b7.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/f0d9b260-e696-4ec6-9ca9-3f0501384256.vsidx
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfo.cs
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfo.cs
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfoInputs.cache
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfo.cs
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfo.cs
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfo.cs
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfoInputs.cache
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfoInputs.cache
TuanIndividualAssignment/.vs/ProjectEvaluation/tuanindividualassignment.metadata.v7.bin
TuanIndividualAssignment/.vs/ProjectEvaluation/tuanindividualassignment.projects.v7.bin
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/747173c5-456a-4b58-aa39-815aab964753.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/914951a8-0a77-47cb-9649-4b7fedaeef94.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/a5092cd0-fd5c-4e0f-89ff-b7c5f4f2504f.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/b8b238a9-a819-4025-9922-7773ee9643fd.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/v17/.futdcache.v2
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfoInputs.cache
