
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/3daf1b14-65dd-4197-a45d-7738dd476571.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/8168a070-311a-46c5-80da-dffc34009b23.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/c1f80fe0-8dfc-4166-8f60-15d0ea0c6822.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/f010facb-f345-40a4-9298-89e6a8dbe5b7.vsidx
TuanIndividualAssignment/.vs/TuanIndividualAssignment/FileContentIndex/f0d9b260-e696-4ec6-9ca9-3f0501384256.vsidx
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfo.cs
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfo.cs
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfoInputs.cache
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfo.cs
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfo.cs
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfo.cs
TuanIndividualAssignment/TuanIndividualAssignment/obj/Debug/net8.0/TuanIndividualAssignment.AssemblyInfoInputs.cache
